#Task 1 Boolean

In [1]:
print(10>9)
print(10==9)
print(10<9)

True
False
False

In [124]:
print(not 6 == 6)

False

In [125]:
a = 3
b = 4
print(4<3)

False

In [2]:
a = 200
b = 33
if b>a:
    print("b is greater than a")
else:
    print("b is not greater than a")

b is not greater than a

In [3]:
print(bool("Hello"))
print(bool(15))

True
True

In [4]:
x = "Hello"
y = 15
print(bool(x))
print(bool(y))

True
True

In [5]:
bool("abc")
bool(123)
bool(["apple","cherry","banana"])

True

In [7]:
class myclass():
    def __len__(self):
        return 0
myobj = myclass()
print(bool(myobj))

False

In [10]:
def myFunction():
    return True
if myFunction():
    print("Yes")
else:
    print("No!")

Yes

'''вернет True, если проверяемый объект object является экземпляром любого указанного в classinfo класса (классов) или его подкласса'''

In [11]:
x  = 200
print(isinstance(x,int))

True

#Task 2 Python operators

In [13]:
print((6+3)-(6+3))

0

In [14]:
x = 5
print(x**2)#exponentiation

25

In [15]:
print(100+~3)#Bitwise NOT 100+(-4)=96

96

In [16]:
print(35//12)

2

'''Оператор >> выполняет побитовый сдвиг вправо. Это означает, что число 8 (в двоичной системе 1000₂) сдвигается на 2 бита вправо.'''

In [17]:
print(8>>4-2)

2

In [18]:
print(6 & 2 + 1) #Bitwise AND

2

In [20]:
print(6|2+1)

7

In [21]:
print(not 5 == 5)

False

In [22]:
print(1 or 2 and 3)

1

In [23]:
x = 5
x+=3  #x=x+3
print(x)

8

#Task 3 Lists

In [25]:
thislist = ["apple","banana","cherry"]
print(thislist)
print(len(thislist))

['apple', 'banana', 'cherry']
3

In [30]:
a = ["apple","banana","cherry"]
print(a[-1])

cherry

In [32]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])
print(thislist[-4:-1])

['cherry', 'orange', 'kiwi']
['orange', 'kiwi', 'melon']

In [33]:
b = ["apple","banana",'cherry']
if "apple" in b:
    print("Yes 'apple' is in the fruit list")

Yes 'apple' is in the fruit list

In [34]:
#change list items
b = ["apple","banana",'cherry']
b[1]="blackcurrant"
print(b)

['apple', 'blackcurrant', 'cherry']

In [35]:
#append items
a = ["apple","banana",'cherry']
a.append("orange")
print(a)

['apple', 'banana', 'cherry', 'orange']

In [36]:
#insert
a = ["apple","banana","cherry"]
a.insert(1,"orange")
print(a)

['apple', 'orange', 'banana', 'cherry']

In [37]:
#extend list
thislist = ["apple","banana","cherry"]
tropical = ["mango","pineapple","papaya"]
thislist.extend(tropical) #Add the elements of tropical to thislist:
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [38]:
#Remove list items
c = [1,2,3,4,5]
c.remove(3)
print(c)

[1, 2, 4, 5]

In [39]:
c = ["physics","math","history","chemistry","geography"]
c.pop(2) #removes the specified index.
print(c)

['physics', 'math', 'chemistry', 'geography']

In [40]:
c = ["physics","math","history","chemistry","geography"]
del c[0] #also removes the specified index
print(c)

['math', 'history', 'chemistry', 'geography']

In [43]:
#Clear the list content:
c = ["physics","math","history","chemistry","geography"]
c.clear()
print(c)

[]

In [44]:
#loop lists
thislist = ["apple","banana","cherry"]
for i in range(len(thislist)):
    print(thislist[i])

apple
banana
cherry

In [45]:
#while
a = ["apple","banana","cherry"]
i = 0
while i<len(a):
    print(a[i])
    i+=1

apple
banana
cherry

In [47]:
#list comprehension
fruits = ["apple","banana","cherry"]
newlist = []
for x in fruits:
    newlist.append(x)
print(newlist)

['apple', 'banana', 'cherry']

In [50]:
fruits = ["apple","banana","cherry","kiwi","mango"]
newlist = [x for x in fruits if "a" in x]
print(newlist)

['apple', 'banana', 'mango']

SORT Lists

In [52]:
#1
thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

[23, 50, 65, 82, 100]

In [53]:
#2 sort the list descending order
thislist = [100,50,65,82,23]
thislist.sort(reverse = True)
print(thislist)

[100, 82, 65, 50, 23]

In [55]:
#3
def myfunc(n):
    return abs(n-50)
thislist = [100, 50, 65, 82, 23]
thislist.sort(key=myfunc)
print(thislist)

[50, 65, 23, 82, 100]

In [56]:
thislist = ["banana","Orange","Kiwi","cherry"]
thislist.sort()
print(thislist)
#By default the sort() method is case sensitive, 
#resulting in all capital letters being sorted before lower case letters:

['Kiwi', 'Orange', 'banana', 'cherry']

In [58]:
fruits = ["banana", "Orange", "Kiwi", "cherry"]
fruits.sort(key = str.lower)
print(fruits)

['banana', 'cherry', 'Kiwi', 'Orange']

JOIN lists

In [60]:
#1
list1 = ['a','b','c']
list2 = [1,2,3]
list3 =list1+list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [61]:
#2
list1 = ['a','b','c']
list2 = [1,2,3]
list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

#Task 4 Tuples

In [62]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [63]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[:4])
#returns the items from the beginning to, but NOT included, "kiwi"

('apple', 'banana', 'cherry', 'orange')

In [ ]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:])
#This example returns the items from "cherry" and to the end

In [ ]:
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y
#Create a new tuple with the value "orange", and add that tuple:
print(thistuple)

In [70]:
fruits = ("apple", "banana", "cherry")
#Unpacking a Tuple
(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [71]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")
(green,*tropic,red) = fruits
print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

In [72]:
#join tuples
fruits = ("apple","banana","cherry")
mytuple = fruits*2
print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

#Task 5 Sets

In [73]:
thisset = {"apple","banana","cherry"}
print(thisset)

{'apple', 'cherry', 'banana'}

In [75]:
thisset = {"apple","banana","cherry","apple"}
print(thisset)
#Sets cannot have two items with the same value,
#Duplicate values will be ignored:

{'apple', 'cherry', 'banana'}

In [76]:
thisset = {"apple", "banana", "cherry", True, 1, 2}
#True and 1 is considered the same value
print(thisset)

{True, 2, 'apple', 'cherry', 'banana'}

In [77]:
#add an item on the set
thisset = {"apple", "banana", "cherry"}
thisset.add("orange")
print(thisset)
#Add an item to a set, using the add() method:

{'apple', 'orange', 'cherry', 'banana'}

In [78]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}
thisset.update(tropical)
print(thisset)

{'mango', 'pineapple', 'apple', 'cherry', 'banana', 'papaya'}

In [79]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]
thisset.update(mylist)
#Add elements of a list to at set:
print(thisset)

{'apple', 'orange', 'cherry', 'banana', 'kiwi'}

In [80]:
#loop through the set, and print the values:
thisset = {"apple", "banana", "cherry"}
for x in thisset:
  print(x)

apple
cherry
banana

JOIN Sets

In [82]:
set1 = {'a','b','c'}
set2 = {1,2,3}
set3 = set1.union(set2)
print(set3)
#The union() method returns a new set with all items from both sets

{1, 2, 3, 'a', 'c', 'b'}

In [83]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = set1 | set2
print(set3)
#When using the | operator, separate the sets with more | operators:

{1, 2, 3, 'a', 'c', 'b'}

In [84]:
x = {"a", "b", "c"}
y = (1, 2, 3)
z = x.union(y)
print(z)

{1, 2, 3, 'c', 'b', 'a'}

In [85]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}
set1.update(set2)
print(set1)
#The update() method inserts the items in set2 into set1:

{1, 2, 3, 'a', 'c', 'b'}

#Task 6 Dictionariees

In [88]:
dict1 = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(dict1)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [89]:
#Print the "brand" value of the dictionary:
dict1 = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(dict1["brand"])

Ford

In [92]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict.get("model")
print(x)
#извлекает значение связанное с ключом "model", используя метод get()

Mustang

In [123]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}
x = car.keys() #возвращает представление всех ключей словаря
print(x)
car["color"] = "white"
print(x)

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])

In [95]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}
x = car.items() #Get a list of the key:value pairs
print(x)
car["year"] = 2020
print(x) #after the change

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 2020)])

In [111]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")#removes the item with the specified key name
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [112]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.popitem()#The popitem() method removes the last inserted item
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang'}

In [113]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x, y in thisdict.items():#Loop through both keys and values, by using the items() method:
  print(x, y)

brand Ford
model Mustang
year 1964

In [114]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x in thisdict.values():# use the values() method to return values of a dictionary
  print(x)

Ford
Mustang
1964

In [115]:
#nested dict
child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}
myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}
print(myfamily["child2"]["name"])

Tobias

In [116]:
#update dict
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
car.update({"color": "White"})
print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'White'}

In [118]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
car.clear()#Remove all elements from the car list:
print(car)

{}

In [119]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = car.setdefault("model", "Bronco")#Get the value of the "model" item:
print(x)

Mustang

In [120]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = car.setdefault("color", "white")
print(x)
#if the "color" item does not exist, insert "color" with the value "white"

white

#Task 7 If and else,While loop and for loop

In [106]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

In [107]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In [108]:
a = 200
b = 33
c = 500
if a > b and c > a:
  print("Both conditions are True")
#The and keyword is a logical operator, and is used to combine conditional statements:

Both conditions are True

In [109]:
a = 200
b = 33
c = 500
if a > b or a > c:
  print("At least one of the conditions is True")

At least one of the conditions is True

In [110]:
#nested loops
x = 41
if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

Above ten,
and also above 20!

In [97]:
i = 0
while i<6:
    i+=1
    if i == 3:
        continue #Continue to the next iteration if i is 3:
    print(i)

1
2
4
5
6

In [98]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

In [99]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    print(x)
    if x == "banana":
        break
#With the break statement we can stop the loop before it has looped through all the items

apple
banana

In [100]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)
  #Do not print banana

apple
cherry

In [103]:
for x in range(2, 30, 3):
  print(x," ",end ="")

2  5  8  11  14  17  20  23  26  29

In [104]:
for x in range(6):
  if x == 3: break
  print(x)#Break the loop when x is 3, and see what happens with the else block
else:
  print("Finally finished!")

0
1
2

In [105]:
#nested loop
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]
for x in adj:
  for y in fruits:
    print(x, y)#Print each adjective for every fruit:

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry